#one{
    color: azure;
    margin: 1px 0px;
    line-height: 1.5em;
    height: 10rem;
    width: 20rem;
    border-radius: 1vh;
    box-shadow: 2px 2px 10px rgba(110, 206, 215, 0.831);
    padding: 0.1vh;
    margin: 1vh;
    
}

#one:hover{
    color: blue;
    box-shadow:2px 2px 7px rgba(249, 241, 10, 0.985);
    height: 15rem;
    width: 21rem;
    
}
*{
    color: white;
}